<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to find the invisible Point!</title>
</head>
<body style="font-size: 32px;">
    Привет! Добро пожаловать в игру Find The Invisible Point. На ее создание меня вдохновила игра <a href="https://findtheinvisiblecow.com" target="_blank">Find The Invisible Cow</a> (настоятельно рекомендую немного поиграть в нее перед решением в неё таска).
    <br><br>
    Правила этой игры почти совпадают с правилами той игры, но есть два отличия. Первое: как очевидно из названия, в этой игре вы ищете одну точку, а не какое-либо животное. Иными словами, ваша задача - найти корову размером 1 на 1 пиксель. Второе: вы не получаете звуковых подсказок.
    <br><br>
    В <a href="/trial">пробном режиме</a> вы можете в какой-то момент нажать правой кнопкой внутри веб-страницы, и вокруг курсора будет нарисован квадрат. Если в его пределах есть точка, весь квадрат будет залит зеленым цветом. Если нет - красным. Внутри зеленых квадратов розовым обозначается пиксель и небольшая окрестность вокруг него. В случае клика по искомому пикселю или окрестности (обозначенной розовым) вы получите alert с поздравлением (очки не зарабатываются).
    <br>
    В <a href="/game">экспертном режиме</a> вы вообще не получаете никаких подсказок или alert-ов, засчитывается только клик ровно по пикселю. После попадания по точке у вас увеличивается количество очков. Когда вы достигнете 10'000 очков в экспертном режиме, вы получите флаг.
    <!--
    Информация для разработчиков: и в trial, и в экспертном режиме гарантируется, что создаваемая точка находится в пределах веб-страницы игрока, то есть если размер окна не меняется, игрок всегда может найти пиксель. Первая точка в обоих режимах всегда имеет координаты (0; 0)
    -->
</body>
</html>
