<!DOCTYPE html>
<html style="width: 100%; height: 100%;">
<head>
    <meta charset="utf-8">
    <title>Try the game in a simple mode</title>
</head>
<body style="width: 100%; height: 100%; margin: 0px;">
    <canvas id="canvas" style="height: 100%; width: 100%; margin: 0px;"></canvas>
    <script type="text/javascript" src="{{url_for('static', filename='game_trial.js')}}"></script>
    <!--
    Информация для разработчиков: и в trial, и в экспертном режиме гарантируется, что создаваемая точка находится в пределах веб-страницы игрока, то есть если размер окна не меняется, игрок всегда может найти пиксель. Первая точка в обоих режимах всегда имеет координаты (0; 0)
    -->
</body>
</html>
